fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0
joblib
nltk==3.9.1
torch==2.7.1
spacy==3.8.7
sacremoses==0.1.1
scikit-learn==1.6.1
sentencepiece==0.2.0
tokenizers==0.21.1
transformers==4.52.4
ollama